<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- 引入 layui.css -->
    <link rel="stylesheet" href="//unpkg.com/layui@2.6.8/dist/css/layui.css">
    <!-- 引入 layui.js -->
    <script src="//unpkg.com/layui@2.6.8/dist/layui.js"></script>
    <!-- 引入 jquery-3.1.1.min.js -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

</head>
<body>
<div th:text="${test1}"></div>

    <div class="layui-row layui-col-space10">
        <div class="layui-col-md2">
            <div style="height: 50px;background-color: #d7ecdc">
                <div class="layui-btn-group" style="float: right;margin-top: 20px;">
                    <button type="button" class="layui-btn layui-btn-sm" id="addApiBtn">
                        <i class="layui-icon">&#xe654;</i>新建Api
                    </button>
                    <button type="button" class="layui-btn layui-btn-sm" id="manageDicBtn">
                        <i class="layui-icon">&#xe642;</i>管理目录
                    </button>
                </div>
            </div>
            <div class="layui-panel" id="leftBox">
                <div style="padding: 30px;">
                    <div id="test1" class="demo-tree demo-tree-box"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-md10">
            <div style="height: 50px;padding-top: 10px;">
                <button id="logoutBtn" type="button" class="layui-btn layui-btn-radius layui-btn-primary" style="float: right;margin-right: 50px;">退出登录</button>
                <span style="float: right;margin: 10px;">欢迎您：<span id="nameSpan" th:text="${username}"></span></span>
            </div>
            <div class="layui-row layui-col-space10">
                <div class="layui-col-md1"></div>
                <div class="layui-col-md9">
                    <div id="dataBox"></div>
                </div>
                <div class="layui-col-md2"></div>
            </div>
        </div>
    </div>
</body>
<script>
    layui.use(['tree', 'util'], function() {
        var tree = layui.tree
            , layer = layui.layer
            , util = layui.util

        $("#leftBox").attr("style",'height:'+$(window).height()+'px;overflow: auto')

        $('#addApiBtn').click(function () {
            location.href = "/addApi"
        })

        window.onload=function() {

            window.delFunc = function(id) {
                if (confirm("确认要删除？")) {
                    $.ajax({
                        url:"/sysApi/delSysApi",
                        type:"get",
                        data:{
                            "id":id
                        },
                        success:function (data) {
                            location.reload();
                        }

                    })
                }
            }

            window.editFunc = function(id) {
                location.href = "/editSysApiPage?id="+id
                // $.ajax({
                //     url:"/editSysApiPage",
                //     type:"get",
                //     data:{
                //         "id":id
                //     },
                //     success:function (data) {
                //     }
                //
                // })
            }

            $.ajax({
                url:"/sysApi/getSysApi",
                type:"get",
                data:{

                },
                success:function (data) {
                    tree.render({
                        elem: '#test1' //默认是点击节点可进行收缩
                        , data: data
                        ,click: function(obj){
                            var data = obj.data;  //获取当前点击的节点数据
                            if (data.isLeaf == 1){
                               // layer.msg('状态：'+ obj.state + '<br>节点数据：' + JSON.stringify(data));
                                $.ajax({
                                    url: "/sysApi/selectById",
                                    type: "get",
                                    data: {
                                        "id": data.id
                                    },
                                    success:function (data) {
                                        $('#dataBox').empty()
                                        var html = `<h1 style="margin-bottom: 10px;text-align: center;"><b>${data.title}</b></h1>
                                                    <div style="float: right;color: grey;margin-right: 20px;">
                                                        <h5>创建者：${data.createName}</h5>
                                                        <h5>创建时间：${data.createTime}</h5>
                                                    </div>
                                                    <div style="width: 100%;height: 15px;background-color: #F2F5F7;margin: 10px 0;clear: both;"></div>
                                                    <span id="sp">${data.content}</span>
                                                    <div style="position: absolute;right: -100px;top: 100px;width: 50px;height: 160px;">
                                                        <div id="editBtn" onclick="editFunc(${data.id})" style="width: 50px;height: 50px;cursor: pointer;line-height: 50px;text-align: center;background-color: #EDFCED;border-bottom: 1px solid green;border-radius:25px;">
                                                            <span>编辑</span>
                                                        </div>
                                                        <div id="copyBtn" style="width: 50px;height: 50px;cursor: pointer;line-height: 50px;text-align: center;background-color: #EDFCED;border-bottom: 1px solid green;border-radius:25px;">
                                                            <span>复制</span>
                                                        </div>
                                                        <div id="delBtn" onclick="delFunc(${data.id})" style="width: 50px;height: 50px;cursor: pointer;line-height: 50px;text-align: center;background-color: #EDFCED;margin-top: 8px;border-bottom: 1px solid green;border-radius:25px;">
                                                            <span style="color: #df0d00;">删除</span>
                                                        </div>
                                                    </div>
                                                       `
                                        $('#dataBox').append(html)

                                        $("#sp").find('table').attr("class","layui-table");
                                        $("#sp").find('table').attr("style","margin:20px 15px;");
                                        $("#sp").find('li').attr("style","margin-top:3px;padding:15px 20px;");
                                        $("#sp").find('pre').attr("class","layui-code layui-box layui-code-view");
                                        $("#sp").find('pre').attr("style","margin:20px 15px;");
                                        $("#sp").find('code').attr("class","layui-code-ol");
                                        $("#sp").find('code').attr("style","color:green;font-size:16px;");
                                    }
                                })
                            }
                        }
                    })
                }

            })
        }

        $("#logoutBtn").click(function () {
            $.ajax({
                url:"/user/logout",
                type:"get",
                data:{

                },
                success:function (data) {
                    location.reload();
                }

            })
        })



    })


</script>
</html>