<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

<!--    &lt;!&ndash; 引入 layui.css &ndash;&gt;-->
<!--    <link rel="stylesheet" href="//unpkg.com/layui@2.6.8/dist/css/layui.css">-->
<!--    &lt;!&ndash; 引入 layui.js &ndash;&gt;-->
<!--    <script src="//unpkg.com/layui@2.6.8/dist/layui.js"></script>-->
<!--    &lt;!&ndash; 引入 jquery-3.1.1.min.js &ndash;&gt;-->
<!--    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>-->
</head>
<body>
test
--
<div th:text="${testname}"></div>
--
<link rel="stylesheet" href="../static/editormd/css/editormd.css" />
<div id="test-editor">
    <textarea style="display:none;"></textarea>
</div>
<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="../static/editormd/editormd.min.js"></script>
<script type="text/javascript">
    $(function() {
        var editor = editormd("test-editor", {
            width  : "100%",
            height : "800px",
            path   : "../static/editormd/lib/"
        });
    });
</script>
</body>
</html>