<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mars.mars_api.sysapi.mapper.SysApiMapper">

    <select id="getSysApi" resultType="com.mars.mars_api.sysapi.bean.SysApi">
        SELECT s.*, s2.title AS pname FROM sys_api s
            LEFT JOIN sys_api s2 ON s.pid = s2.id
        <where>
            <if test="isLeaf != null">
                s.is_leaf = #{isLeaf}
            </if>
            <if test="id != null">
                AND s.id = #{id}
            </if>
        </where>
    </select>

    <select id="selectById" resultType="com.mars.mars_api.sysapi.bean.dto.SysApiDTO">
        SELECT s.*, u.name AS createName FROM sys_api s
        LEFT JOIN users u ON u.id = s.create_by
        WHERE s.id = #{id}
    </select>

    <insert id="saveSysApi" parameterType="com.mars.mars_api.sysapi.bean.SysApi">
        INSERT INTO sys_api(title, create_by, content, pid, create_time, is_leaf, og_content)
        VALUES (#{title}, #{createBy}, #{content}, #{pid}, #{createTime}, #{isLeaf}, #{ogContent})
    </insert>

    <delete id="delSysApi" parameterType="java.lang.Integer">
        DELETE FROM sys_api
        WHERE id = #{id}
    </delete>

</mapper>